main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

* {
    padding: 0px;
    margin: 0px;
}

#meme-image-container {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}

#meme-image {
    display: flex;
    width: 100%;
    height: 100%;
}

#meme-text {
    display: flex;
    position: absolute;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px #000000;
}