main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
*{
    padding: 0px;
    margin: 0px;
}
#meme-image-container{
    background-color: blue;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;

}
#meme-image {
    display: flex;
    width: 100%;
    height: 100%;
}
#meme-text{
    display: flex;
    position: absolute;
}